thead tr{
background-color: rgb(65, 65, 65);
color: #fff;
text-align: left;
font-weight: bold;
font-size: 19px;
}
h1{
    text-align: center;
}
table{
    background-color: rgb(227, 227, 227);
}